h1 {
  background-color: red;
}
body {
background-color: rgba(200, 178 ,230,.5);
text-align: left;
font-family: Garmond;
height: 200px;
padding: 50px;
background-color: purple;
}

p {
   background-color: purple;
}

